<footer id="footer">
  <div class="footer-info">
    <a href="javascript:;"><i class="iconfont icon-github"></i></a>
    <span class="info">
      Design by @Pork base on Node.js
    </span>
  </div>
  <div class="copyright">
    <span>© 2019 - 2021 猪肉王子</span>
  </div>
</footer>
<script src="./scripts/app.js"></script>
</body>

</html>
