<footer id="footer">
  <div class="footer-info">
    <a href="javascript:;"><i class="iconfont icon-github"></i></a>
    <span class="info">
      Design by @赵紫阳 base on Node.js
    </span>
  </div>
  <div class="copyright">
    <span>© 2019 - 2023 <a style="color: #ffffff;" href="https://beian.miit.gov.cn/" target="_blank">皖ICP备2022017263号-1</a></span>
  </div>
</footer>
<script src="/js/app.min.js"></script>
</body>

</html>
