<!-- 云标签 -->
<section id="tag-cloud">
  <div class="container">
    <div class="box-header">
      <div class="box-title">
        <h2 class="text-title">Tag Cloud</h2>
        <h1 class="left">#</h1>
        <i class="iconfont icon-tags"></i>
      </div>
      <div class="box-end"></div>
    </div>
    <div class="box-content">
      <% for (let key of tags.cateMap.keys()) { %>
      <div class="">
        <div class="tag-cate">
          <div class="cate"><%= tags.cateMap.get(key) %></div>
          <div class="tags">
            <ul class="tag-list">
              <% for (let tag of tags.tagList) { %>
              <% if (tag.categoryId == key) { %>
              <li><%= tag.tagName %></li>
              <% } %>
              <% } %>
            </ul>
          </div>
        </div>

      </div>
      <% } %>
    </div>
  </div>
  </div>
</section>
