<!-- 云标签 -->
<section id="tag-cloud">
  <div class="container">
    <div class="box-header">
      <div class="box-title">
        <h2 class="text-title">Tag Cloud</h2>
        <h1 class="left">#</h1>
        <i class="iconfont icon-tags"></i>
      </div>
      <div class="box-end"></div>
    </div>
    <div class="box-content">
      <div class="tag-cate">
        <div class="cate">前端</div>
        <div class="tags">
          <ul class="tag-list">
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>Vue</li>
            <li>Canvas</li>
          </ul>
        </div>
      </div>

      <div class="tag-cate">
        <div class="cate">后端</div>
        <div class="tags">
          <ul class="tag-list">
            <li>Java</li>
            <li>PHP</li>
            <li>算法</li>
            <li>数据结构</li>
            <li>Python</li>
            <li>C++</li>
            <li>Node.js</li>
            <li>Laravel</li>
          </ul>
        </div>
      </div>

      <div class="tag-cate">
        <div class="cate">随笔</div>
        <div class="tags">
          <ul class="tag-list">
            <li>鸡汤</li>
            <li>学历</li>
            <li>认知</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
