<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 style="text-align: center; margin-top: 44px;"><%= page.message %></h1>

  <script type="module">
    import {
      utils
    } from '/scripts/utils.js'
    utils.showMessage({
      title: '页面即将返回',
      icon: 'none',
      cb() {
        history.go(-1)
      }
    })

  </script>
</body>

</html>
