<%- include('layout/_header') %>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <h3>This is a test Home Page.</h3>
    <form class="" action="api/user/logout" method="post">
        <button type="sbumit" name="button">登出</button>
    </form>
<%- include('layout/_footer') %>
