<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/manager.css">
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<title><%= title %></title>
</head>

<body>
    <section class="wrapper">
        <div class="container">
            <div id="config" class="m-item">
                <h2 class="m-title">应用设置</h2>
                <div class="m-form">
                    <div class="form-group">
                        <label for="title">网站/应用标题</label>
                        <input type="text" name="title" id="title" placeholder="Pork's Web Site">
                    </div>
                    <div class="form-group">
                        <label for="subtitle">副标题</label>
                        <input type="text" name="subtitle" id="subtitle" placeholder="但行好事，莫问前程">
                    </div>
                    <div class="form-group">
                        <label for="views">访问总量</label>
                        <input type="number" name="views" id="views" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="copyright">版权信息</label>
                        <input type="text" name="copyright" id="copyright" placeholder="© 2020 - 2021 猪肉王子">
                    </div>
                    <div class="form-group">
                        <label for="icp">备案信息</label>
                        <input type="text" name="icp" id="icp" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="theme">模版</label>
                        <input type="text" name="theme" id="theme" placeholder="主题名称（非开发人员请保持默认）" value="default">
                    </div>
                    <div class="form-group">
                        <label for="friendLinks">友情链接</label>
                        <span class="btn-links">MDN Web Docs</span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
