<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/manager.css">
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<title><%= title %></title>
</head>

<body>
    <section class="wrapper">
        <div class="container">
            <div id="config" class="m-item">
                <h3 class="m-title">应用配置</h3>
                <div class="m-form">
                    <div class="form-group">
                        <input type="text" name="title" id="title" placeholder="应用标题/网站标题">
                    </div>
                    <div class="form-group">
                        <input type="text" name="subtitle" id="subtitle" placeholder="副标题">
                    </div>
                    <div class="form-group">
                        <input type="text" name="views" id="views" placeholder="浏览次数">
                    </div>
                    <div class="form-group">
                        <input type="text" name="copyright" id="copyright" placeholder="版权信息">
                    </div>
                    <div class="form-group">
                        <input type="text" name="icp" id="icp" placeholder="备案号">
                    </div>
                    <div class="form-group">
                        <input type="text" name="theme" id="theme" placeholder="主题名称" value="default">
                    </div>
                    <div class="form-group">
                        <input type="text" name="friendLinks" id="friendLinks" placeholder="友情链接">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
