<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/manager.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<title><%= pageInfo.title %></title>
</head>

<body>
	<section class="wrapper">
		<div class="container">
			<div id="writing" class="m-item">
				<h2 class="m-title" title="<%= pageInfo.title %>"><%= pageInfo.title %></h2>
				<div class="form-writing">
					<div class="form-group">
						<label for="title">文章标题</label>
						<input type="text" name="title" id="title" autocomplete="" required>
					</div>
					<div class="dis-flex justify-space-between">
						<div class="form-group col-6">
							<label for="linkUrl">固定链接</label>
							<input type="text" name="linkUrl" id="linkURL" autocomplete="" required>
							<span class="input-btn btn btn-outline-primary btn-small"><i class="fa fa-link"></i>生成</span>
						</div>
						<div class="form-group col-3">
							<label for="order">排序</label>
							<input type="number" name="order" id="order" value="100" autocomplete="" required>
						</div>
						<div class="form-group col-3">
							<label for="linkUrl">文章分类</label>
							<select class="select-primary" name="categoryId">
								<option value="1">Web</option>
								<option value="2">JavaScript</option>
								<option value="3">Vue.js</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="content">正文</label>
						<textarea id="content" name="name" rows="24" cols="100"></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../scripts/manager.js"></script>
	<script type="module">
		import {
			utils
		} from '../scripts/utils.js'

		document.addEventListener('readystatechange', e => {
			if (document.readyState === 'complete') {
				// 页面就绪

      }
		}, false)
	</script>

</body>

</html>
