@import 'initial';
@import 'common';

/* loading */

#loading {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .95);
    position: fixed;
    z-index: 9999;

    .spinner {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }

    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #6d0e88;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

/* header */
#header {
    width: 100%;
    min-height: 64px;
    background-image: linear-gradient(90deg, #cf4647, #c53e3e, #ce4242, #cf4647);
    display: flex;

    #navbar {
        width: 980px;
        margin: 0 auto;
        display: flex;
        z-index: 99;

        .logo {
            display: flex;
            align-items: center;

            span {
                line-height: 50px;
                min-width: 50px;
                margin-right: 6px;

                a {
                    display: inline-block;
                    max-height: 70px;
                    font-size: 35px;

                    img {
                        fill: #fff;
                        width: 33px;
                        height: 33px;
                        vertical-align: middle;
                    }
                }
            }

            .logo-title {
                height: 64px;
                line-height: 68px;
                color: #fcfcfc;
            }
        }

        .menu-btn {
            display: none;
            position: absolute;
            right: 4%;
            top: 0;
            cursor: pointer;

            i {
                height: 64px;
                line-height: 64px;
                font-size: 24px;
                color: #fff;
            }
        }

        .menu {
            flex: 3;
            display: flex;
            justify-content: flex-end;

            .menu-list {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                li {
                    padding: .4rem;

                    a {
                        text-align: center;
                        line-height: 2.4rem;
                        padding: 0 1rem;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: #fcfcfc;

                        &:hover {
                            background-color: rgba($color: #ffffff, $alpha: .2);
                            border-radius: 5px;
                        }

                        &.active {
                            background-color: rgba($color: #ffffff, $alpha: .2);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

/* article-list */
#article-list {
    padding: 2rem 0;
}

.article-items {
    padding: 0 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box-tag {
        position: absolute;
        left: -8px;
        top: -8px;
        width: 98px;
        height: 98px;
        overflow: hidden;
        z-index: 30;

        .tag {
            width: 220px;
            left: -72px;
            top: 25px;
            text-align: center;
            padding: 4px 15px;
            position: relative;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            background-image: linear-gradient(90deg, #23a6d5, #23d5ab);
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            position: absolute;
            z-index: -1;
            content: "";
            display: block;
            border: 4px solid #3d4852;
            border-top-color: transparent;
            border-left-color: transparent;
            border-color: #2779bd;
        }

        &:after {
            bottom: 0;
            left: 0;
        }

        &:before {
            top: 0;
            right: 0;
        }
    }

    .article-item {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        border-radius: 10px;
        box-shadow: 8px 14px 38px #e7eeef;
        position: relative;
        transition: .3s;

        &:hover {
            box-shadow: 12px 16px 40px #d3d8d9;
            transform: scale(1.02);
        }

        &:nth-of-type(3n-1) {
            .box-tag {

                &:before,
                &:after {
                    border-color: #621b18;
                }

                .tag {
                    background: linear-gradient(30deg, #ee7752, #e73c7e);
                }
            }
        }

        &:nth-of-type(3n),
        &:nth-of-type(3n-1) {
            width: 47.5%;
            height: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;

            .box-img {
                width: 100%;

                img {
                    height: 260px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .box-img {
            flex: 2;
            height: 288px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                mix-blend-mode: multiply;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }
        }

        .box-info {
            flex: 1;
            padding: 25px 40px;
            color: #383838;

            .publish-time {
                font-size: 14px;
                text-align: right;
            }

            .box-title {
                font-size: 1.3rem;
                padding: 1rem 0;
                display: inline-block;
            }

            .article-tags,
            .article-comments {
                font-size: 13.5px;
                padding: .5rem 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                span {
                    margin-right: 1rem;
                }
            }
        }
    }
}

/* 文章列表分页 */
#paginator {
    margin: 30px 0;
    text-align: center;
    width: 100%;

    ul {
        display: flex;
        justify-content: center;

        li {

            &.item-active,
            &:hover {
                background-color: #cf4647;
                border: 1px solid #cf4647;

                a {
                    color: #fff;
                }
            }

            &.item-disabled {
                cursor: not-allowed;
            }

            a {
                height: 44px;
                line-height: 44px;
                text-align: center;
                display: inline-block;
                width: 100%;
                color: #80878d;
            }

            margin: 4px;
            background-color: #fff;
            width: 44px;
            border-radius: 50%;
            height: 44px;
            line-height: 40px;
            border: 1px solid #80878d;
            font-size: 1rem;
            transition: none;

            &:first-child,
            &:last-child {
                border: none;
                font-weight: 600;
            }
        }
    }
}

/* 云标签 */
#tag-cloud {
    padding: 0 0 3rem 0;

    .container {
        padding: 0 19px;
    }

    .box-header {
        .box-title {
            padding: .2rem 0;
            color: #3b3b3b;
            position: relative;

            &:hover {
                .left {
                    display: inline-block;
                }
            }

            h1,
            i {
                position: absolute;
            }

            h1 {
                color: #f72d84;
                left: -2rem;
                bottom: 0;
                display: none;
                font-size: 2.2rem;
            }

            i {
                right: 0;
                bottom: .6rem;
                font-size: 16px;
            }
        }

        .box-end {
            width: 100%;
            height: 8px;
            background: linear-gradient(90deg, #23d5ab, #cf4647, #6d0e88, #23d5ab, #f48039);
        }
    }

    .box-content {
        padding: 1rem 0;

        .tag-cate {
            display: flex;

            .cate {
                cursor: pointer;
                height: 30px;
                line-height: 30px;
                border-radius: 15px;
                background-color: #f1f5f8;
                border: 1px solid #f1f5f8;
                color: #606f7b;
                min-width: 4rem;
                text-align: center;
                margin: .3rem 0;
                padding: 0 .5rem;

                &:hover {
                    border: 1px solid #dae1e7;
                }
            }

            .tag-list {
                display: inline-flex;
                flex-wrap: wrap;
                padding: 0 1rem;

                li {
                    font-size: 14px;
                    box-sizing: border-box;
                    cursor: pointer;
                    color: #606f7b;
                    padding: 0 .75rem;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 15px;
                    margin: .3rem .4rem;
                    border: 1px solid #dae1e7;

                    &:hover {
                        background-color: #f1f5f8;
                    }
                }
            }
        }
    }
}

/* 页脚 */
#footer {
    background-color: #3d4852;
    font-size: 14px;
    padding: 1rem 0;

    .back-to-top {
        display: none;
        position: fixed;
        right: 4%;
        bottom: 4rem;

        i {
            text-align: center;
            width: 2.2rem;
            height: 2.2rem;
            line-height: 2rem;
            background-color: rgba($color: #b8297e, $alpha: .9);
            color: #f1f5f8;
            font-size: 1.5rem;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #000000, $alpha: .9);
            }
        }
    }

    .footer-info {
        display: flex;
        flex-direction: column;

        a,
        span {
            flex: 1;
            text-align: center;
            height: 30px;
            line-height: 30px;
            color: #f1f5f8;
        }

        a {
            max-width: 4rem;
            margin: 0 auto;
            font-size: 32px;
            margin-bottom: .8rem;

            i {
                font-size: 28px;
            }

            &:hover {
                color: #d1d1d1;
            }
        }
    }

    .copyright {
        span {
            color: #f1f5f8;
            display: block;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
    }
}

/* 媒体查询器 */
@media screen and (max-width: 750px) {
    #header {
        background-image: linear-gradient(167deg, #cf4647, #ce4242 49%, #cf4647 33%, rgba(177, 31, 67, 0.91));
        flex-direction: column;
        align-items: center;
        position: relative;
        flex-flow: column;

        #navbar {
            width: 100%;
            height: 64px;
            justify-content: center;

            .logo {
                height: 100%;

                .logo-title {
                    a {
                        width: 100%;
                        display: inline-block;
                    }
                }
            }

            .menu {
                display: block;
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                z-index: 98;
                transition: .3s;
                transform: translateY(-500px);
                background-image: linear-gradient(167deg, #2b274b, #771787 49%, rgba(201, 28, 136, .91));

                .menu-list {
                    flex-direction: column !important;
                    padding: 0 !important;

                    li {
                        width: 100%;
                        padding: 0 !important;

                        a {
                            &:hover {
                                border-radius: 0;
                            }

                            &.active {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }

            .menu-btn {
                display: block;
            }
        }
    }

    #tag-cloud {
        .box-header {
            .box-title {
                &:hover {
                    .left {
                        display: none;
                    }
                }
            }
        }
    }


    .article-item {
        width: 100% !important;
        flex-flow: column;
        height: auto;
        min-height: 380px;
        max-height: 480px;

        .box-info {
            flex: 0;
        }

        .box-img {
            img {
                max-height: 220px;
                border-bottom-left-radius: 0 !important;
                border-top-right-radius: 10px;
            }
        }
    }
}
